<info-slider header="Stepper Demo">
  <cdk-step>
    <img src="assets/mom.png" />
    <h3>Super Mom</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
  </cdk-step>
  <cdk-step>
    <img src="assets/minion.png" />
    <h3>Minion</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
  </cdk-step>
  <cdk-step>
    <img src="assets/pinup.png" />
    <h3>The Courageous</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
  </cdk-step>
  <cdk-step>
    <img src="assets/horse.png" />
    <h3>The Horse</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
  </cdk-step>
  <cdk-step>
    <img src="assets/vintage.png" />
    <h3>The Vintage</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
  </cdk-step>
  <cdk-step>
    <img src="assets/fish.png" />
    <h3>The Fish</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
  </cdk-step>
  <cdk-step>
    <img src="assets/leaping.png" />
    <h3>The Horse</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
  </cdk-step>
</info-slider>
